@import "../../../styles/config.scss";

.Container {
  box-sizing: border-box;
  width: calc(100% - $spacing-xl);
  max-width: 1200px;
  box-shadow: $default-box-shadow;
  background-color: $white;
  padding: $spacing-l 0;
  border-radius: $default-border-radius;
  margin: $spacing-xl;
}
