@import '../../../styles/config.scss';

.NewTaskForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    input, button {
        padding: $spacing-m;
        margin: $spacing-m;
    }
}