@import "../../../src/styles/config.scss";

.OverviewItem {
  cursor: pointer;
  width: calc(33% - $spacing-m * 2);
  max-width: 300px;
  height: auto;
  background-color: $secondary;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing-m;

  &#OverviewItemStatusONGOING {
    background-color: rgba(228, 145, 50, 0.2);
    &.selected{
      border:1px solid rgb(228, 145, 50);
    }
  }
  &#OverviewItemStatusNOT_STARTED {
    background-color: $secondary;
    &.selected{
      border: 1px solid $grey;
    }
  }
  &#OverviewItemStatusCOMPLETED {
    background-color: rgb(84, 201, 84, 0.2);
    &.selected{
      border: 1px solid rgb(84, 201, 84);
    }

  }
  
  @include for-phone-only {
    max-width: 450px;
    width: calc(100% - $spacing-m * 2);
  }

  &:hover{
    background-color: rgb(240, 240, 240);
  }
  .OverviewItemNumber {
    font-size: 32px;
    padding: $spacing-m $spacing-xxxs $spacing-xxxs;
  }
  .OverviewItemTitle {
    font-size: 14px;
    padding-bottom: $spacing-l;
  }
}


