@import "../../../styles/config.scss";

.TaskItem {
  box-sizing: border-box;
  .TaskTitle {
    font-weight: bold;
  }
  .TaskCreatedDate {
    @include for-phone-only {
      display: none;
    }
  }
  .TaskOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px outset $grey;
    div {
      width: auto;
      display: flex;
      align-items: center;
      margin-left: $spacing-xxs;
      > * {
        margin-right: $spacing-xs;
      }

      .TaskDueDate {
        width: 180px;
        @include for-phone-only {
          width: 90px;
        }
        span {
          @include for-phone-only {
            display: none;
          }
        }
      }

      .TaskDropdownImg.rotated {
        transform: rotate(-180deg);
      }
    }
    .DeleteIcon {
      opacity: 0.5;
    }
    .StatusLabel {
      width: 60px;
      padding: $spacing-xxs;
      font-size: 9px;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      &.ONGOING {
        background-color: rgba(228, 145, 50, 0.3);
        color: rgb(228, 145, 50);
      }
      &.COMPLETED {
        background-color: rgb(84, 201, 84, 0.3);
        color: rgb(84, 201, 84);
      }
      &.NOT_STARTED {
        background-color: $grey;
      }
    }
  }

  .TaskContent {
    display: none;
    border-top: 2px outset $grey;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    p {
      margin-left: 7px;
    }
    form {
      width: 100%;
        input,textarea{
          border:none;
          border-radius: $default-border-radius;
        }
        button{
          border-radius: $default-border-radius;
          cursor: pointer;
        }
    }
  }
  .TaskContent.SelectedTask {
    display: flex;
  }

  & > * {
    padding: $spacing-m;
  }
}
.TaskItem:last-child {
  border-bottom: 2px inset $grey;
}
