@import "./styles/config";

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: $default-font;
  color: $warm-dark;
  background-color: $secondary;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-left: $spacing-l;
}

.Button.SECONDARY {
  border: none;
  cursor: pointer;
  background: transparent;
  img {
    width: 21px;
    height: 21px;
  }
}
